* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: lato, sans-serif;
    color: #181A18;
}

header {
    padding: 20px;
}

.nav {
    /* width: 1300px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    
}

ul li {
    list-style: none;
}

ul li a {
    gap: 40px;
    font-size: 18px;
    font-weight: 400;
    color: #181A18;
    line-height: 24px;
    text-decoration: none;
    padding-left: 40px;
}

.logo {
    width: 130px;
    height: 58px;
}

.hero-section {
    display: flex;
    min-width: 767px;
    max-width: 1440px;
    height: 767px;
    background-image: url(../images/Image\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 493px;
    height: 336px;
    border-radius: 0 60px 60px 0;
    padding: 60px 80px 60px 80px;
    gap: 32px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.hero-title {
    font-size: 42px;
    line-height: 62px;
    color: #181A18;
    font-weight: 700;
}

.hero-txt {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #181A18;
}

.future-section {
    display: flex;
    width: 1280px;
    height: 378px;
    margin: 100px auto;
    
}

.future-pic-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 640px;
    height: 378px;
    /* border:2px solid #135e13; */
    border-radius: 60px 0 0 60px;
}

.pic1 {
    background-image: url(../images/Rectangle\ 225.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.pic2 {
    background-image: url(../images/image\ 15.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.pic3 {
    background-image: url(../images/image\ 14.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.pic4 {
    background-image: url(../images/image\ 13.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}



.future-txt-cont {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 640px;
    border-radius: 0 60px 60px 0;
    background-color: #F2F0F2;
    color: #181A18;
    /* border: 2px solid; */
    justify-content: center;
    align-items: center;
}

.future-ttl {
    width: 480px;
    font-size: 48px;
    line-height: 54px;
    font-weight: 700;

}

.future-txt {
    width: 480px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.feature-section {
    min-width: 768px;
    height: 480px;
    padding: 0 80px 0 80px;
    padding: 60px;
    

   
}

.feat-head {
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    margin-bottom: 60px;

}

.feat-head-txt {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 60px;


    
}

.feature-cont {
    width: 1280px;
    height: 248px;
    display: flex;
    gap: 20px;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
}

.feat {
    width: 305px;
    height: 248px;
    border-radius: 30px;
    background-color: #E2F1E8;
    gap: 16px;
    padding: 32px 40px 32px 40px;
    display: flex;
    flex-direction: column;
}

.icon {
    width: 60px;
    height: 60px;
}

.feature-cont .feat h4 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}